.row
  .eight.columns
    .row
      %h3.offset-by-one.columns Log in
    .row
      = form_tag sessions_path do
        .row
          .three.mobile-one.columns
            = label_tag :email, nil, :class => "right inline"
          .nine.mobile-three.columns
            = text_field_tag :email, params[:email], :class => "five"
        .row
          .three.mobile-one.columns
            = label_tag :password, nil, :class => "right inline"
          .nine.mobile-three.columns
            = password_field_tag :password, nil, :class=> "five"
        .row
          .offset-by-three.columns
            = submit_tag "Log in", :class => "button"