.row
  .eight.columns
    .row
      %h3.offset-by-one.columns Sign Up
    .row
      = form_for @user, :html => { :multipart => true } do |f|
        - if @user.errors.any?
          .error_messages
            %h2 Form is invalid
            %ul
              - for message in @user.errors.full_messages
                %li= message
        .row
          .three.mobile-one.columns
            = f.label :email, :class => "right inline"
          .nine.mobile-three.columns
            = f.text_field :email, :class => "five"
        .row
          .three.mobile-one.columns
            = f.label :password, :class => "right inline"
          .nine.mobile-three.columns
            = f.password_field :password, :class => "five"
        .row
          .three.mobile-one.columns
            = f.label :password_confirmation, :class => "right inline"
          .nine.mobile-three.columns
            = f.password_field :password_confirmation, :class => "five"
          = f.hidden_field :login_type
        .row.hide-for-small
          .three.mobile-one.columns
            %label.right.inline Your picture
          .nine.columns
            = f.file_field :avatar
        .row
          .offset-by-three.columns
            = f.submit :class => "button"