.container.body
  .row.summary
    .three.columns
      %p.summary
        %a.navigation{:href => "/"}
          %span
            %strong
              = "#{@num_stories}"
            Stories shared
    .three.columns
      %p.summary
        %a.navigation{:href => "/nominees/index"}
          %span
            %strong
              = "#{@num_nominees}"
            Nominees
    .three.columns
      %p.summary
        %a.navigation.large{:href => "/stories/index"}
          %span
            %strong
              = "#{@num_nominees}"
            Winning Stories
    .three.columns
      %p.summary
        %a.navigation.small{:href => "/home/rates"}
          %span
            Rates