.story
  .twelve.columns
    %h4.subheader
      %a.story-header{:href => "/stories/#{msg.id}"}
        = msg.title
  .twelve.columns.story-text
    %p
      = msg.story_text
  .twelve.columns
    .nine.columns
      .story-pic
        = render :partial => "shared/pic", :locals => { :story => msg }
      %p
        %strong
          = msg.user.name
      %p.location
        = image_tag "/assets/location.jpg"
        = msg.user.location
    .three.columns
      %h6.subheader.short-votes
        = "#{msg.votes} Votes"