.story
  .twelve.columns
    %h4.subheader
      %a.story-header{:href => "/stories/#{msg.id}"}
        = msg.title
  .twelve.columns.story-text
    %p
      = msg.story_text
  .twelve.columns
    .four.columns
      - if msg.has_pic?
        = image_tag msg.picture.url(:thumb)
      - else
        - if !msg.user.has_pic?
          = image_tag "/assets/200x200.gif"
    .eight.columns
      %p.name
        %strong
          = msg.user.name
      %p.location
        = image_tag "/assets/location.jpg"
        = msg.user.location