.container.body
  .row.summary
    .three.columns
      %p.summary
        %strong
          = "#{@num_stories}"
        Stories shared
      .indicator
    .three.columns
      %p.summary
        %strong
          = "#{@num_nominees}"
        Nominees
    .three.columns
      %p.summary
        %strong
          = "#{@num_votes}"
        Votes Cast
    .three.columns
      %p.summary
        %strong
          1,250,000
        Won
.container.yellow
  .row.spacer
  .row.main.rounded
    .twelve.columns
      %h4.subheader Most Recent Stories
  .row.main
    .twelve.columns
      - if @stories and !@stories.empty?
        %ul.block-grid.three-up.mobile-one-up
          - @stories.each do |msg|
            %li
              = render :partial => "shared/story", :locals => { :msg => msg }