.container.body
  .row.summary
    .three.columns
      %p.summary
        %strong
          = "#{@num_stories}"
        Stories shared
      -#.indicator
    .three.columns
      %p.summary
        %strong
          = "#{@num_nominees}"
        Nominees
    .three.columns
      %p.summary
        %strong
          = "#{@num_votes}"
        Votes Cast
    .three.columns
      %p.summary
        %strong
          1,250,000
        Won
.container.yellow
  .row.spacer
  .row.main.rounded
    %br
  .row.main
    .eight.columns
      .row
        .two.columns.avatar
          - if @story.has_pic?
            = image_tag @story.picture.url(:thumb)
          - else
            - if @story.user.is_oauth?
              = image_tag "", :class => "avatar"
            - else
              = image_tag @story.user.avatar.url(:thumb), :size => "55x55"
        .five.columns
          %h4.subheader.story-title
            = @story.title
          .poster
            %span.author
              = @story.user.name
            = image_tag "/assets/location.jpg"
            %span.subheader
              = @story.user.location
        .three.columns.border-left
          %h4.subheader.num-votes
            = "#{@story.votes} Votes"
        .two.columns.border-left.vote-here
          = image_tag "/assets/vote-here.png"
      .row
        .eleven.offset-by-one.columns
          %p
            = @story.body
      .row
        .eleven.offset-by-one.columns
          %p Sharing and other stuff...
          %h5 Other Stories
    .four.columns
      = image_tag "/assets/sidebar-share.png"
  -#%section#mainContent.main
    .row
      .twelve.columns
        %h3 Page Title (.twelve .columns)
    .row
      .eight.columns
        %p
          This is an eight column section, starting with this paragraph.
          %br Below this you'll find another row with two sections.
        .row
          .six.columns
            %img{:src => "http://placehold.it/300x200"}
              %h5 Another Section (.six.columns)
              %p This is a nested row with two six column sections.
          .six.columns
            %img{:src => "http://placehold.it/300x200"}
              %h5 Another Section (.six.columns)
              %p This is a nested row with two six column sections.
        %p Now the nested row has been closed, and we're back to the original eight column section.
      .four.columns
        %p And this is a four columns section to represent a sidebar (or similar element).
        .row
          .three.columns
            %img{:src => "http://placehold.it/64x64"}
          .nine.columns
            This is a callout with three columns on the left (for the avatar) and nine columns here for the text. This row is inside the four column.
        .row
          .three.columns
            %img{:src => "http://placehold.it/64x64"}
          .nine.columns
            This is a callout with three columns on the left (for the avatar) and nine columns here for the text. This row is inside the four column.
        .row
          .three.columns
            %img{:src => "http://placehold.it/64x64"}
          .nine.columns
            This is a callout with three columns on the left (for the avatar) and nine columns here for the text. This row is inside the four column.
        .row
          .three.columns
            %img{:src => "http://placehold.it/64x64"}
          .nine.columns
            This is a callout with three columns on the left (for the avatar) and nine columns here for the text. This row is inside the four column.

  -#.row.main
    .twelve.columns
      .eight.columns
        .two.columns
          - if @story.has_pic?
            = image_tag @story.picture.url(:thumb)
          - else
            - if !@story.user.has_pic?
              = image_tag "/assets/200x200.gif"
        .three.columns.border-right
          %h5
            = @story.title
          .two.columns
            %p
              = @story.user.name
          .one.columns
            %p.location
              = image_tag "/assets/location.jpg"
              = @story.user.location
        .two.columns.border-right
          .one.columns.votes
            = image_tag "/assets/votes.png"
          .one.columns
            %p
              = "#{@story.votes} Votes"
        .one.columns
          = image_tag "/assets/vote-here.png"
      .four.columns
