.container.body
  .row.summary
    .three.columns
      %p.summary
        %strong
          = "#{@num_stories}"
        Stories shared
      -#.indicator
    .three.columns
      %p.summary
        %strong
          = "#{@num_nominees}"
        Nominees
    .three.columns
      %p.summary
        %strong.summary-num-votes{"data-num-votes" => @num_votes}
          = "#{@num_votes}"
        Votes Cast
    .three.columns
      %p.summary
        %strong
          1,250,000
        Won
.container.yellow
  .row.spacer
  .row.main.rounded
    %br
  .row.main
    .eight.columns
      .row
        .seven.columns
          .story-pic
            = render :partial => "shared/pic", :locals => { :story => @story }
          %h4.subheader.story-title
            = @story.title
          .poster
            %span.author
              = @story.user.name
            = image_tag "/assets/location.jpg"
            %span.subheader
              = @story.user.location
        .three.columns.border-left
          %h4.subheader.num-votes{"data-num-votes" => @story.votes}
            = "#{@story.votes} Votes"
        .two.columns.border-left.vote-here
          - if current_user and @story.can_vote_for_story?(current_user)
            %a.vote-now.vote-link{:href => "#", "data-id" => @story.nominee.id}
          - else
            %a.vote-now.icon-thank-you
      .row
        %p
        .twelve.columns
          %p
            = @story.body
      .row
        %p
        .twelve.columns.reviews
          .fb-comments{"data-href" => "#{request.protocol}#{request.host_with_port}#{request.fullpath}", "data-num-posts" => "5" }
      - if !@other_stories.nil? and !@other_stories.empty?
        .row
          .twelve.columns
            %h3.subheader Other Stories
            %ul.block-grid.two-up.mobile-one-up
              - @other_stories.each do |msg|
                %li
                  = render :partial => "shared/story", :locals => { :msg => msg }
    .four.columns
      = image_tag "/assets/sidebar-share.png"