= render :partial => "shared/nav"
.container.yellow
  .row.spacer
  .row.main.rounded
    %br
  .row.main
    .eight.columns
      .row
        .six.columns.mobile-twelve
          .story-pic
            = render :partial => "shared/pic", :locals => { :story => @story }
          %h4.subheader.story-title
            = @story.title
          .poster
            %span.author
              = @story.user.name
            = image_tag "/assets/location.jpg"
            %span.subheader
              = @story.user.location
        .three.columns.border-left.mobile-two
          %h4.subheader.num-votes{"data-num-votes" => @story.votes}
            = "#{@story.votes} Votes"
        - if current_user
          - if @story.can_vote_for_story?(current_user)
            .two.columns.border-left.vote-here.mobile-two
              %a.vote-now.vote-link{:href => "#", "data-id" => @story.nominee.id}
          - else
            -if @story.has_voted?(current_user)
              .two.columns.border-left.vote-here.mobile-two
                %a.vote-now.icon-thank-you
            -else
              .two.columns.mobile-two
        - else
          .two.columns.mobile-two
        .one.columns
      .row
        %p
        .twelve.columns
          %p
            = @story.body
      .row
        .twelve.columns
          .share
            %span.st_facebook_vcount{:displayText => "Facebook"}
            %span.st_twitter_vcount{:displayText => "Tweet"}
      -#.row
        .twelve.columns
          .addthis_toolbox.addthis_default_style{"addthis:url" => "#{request.protocol}#{request.host_with_port}#{request.fullpath}"}
            %a.addthis_button_facebook_like{"fb:like:layout" => "button_count"}
            %a.addthis_button_tweet
      .row
        %p
        .twelve.columns.reviews
          .fb-comments{"data-href" => "#{request.protocol}#{request.host_with_port}#{request.fullpath}", "data-num-posts" => "5" }
      - if !@other_stories.nil? and !@other_stories.empty?
        .row
          .twelve.columns
            %h3.subheader Other Stories
            %ul.block-grid.two-up.mobile-one-up
              - @other_stories.each do |msg|
                %li
                  = render :partial => "shared/story", :locals => { :msg => msg }
    .four.columns
      -#= image_tag "/assets/sidebar-bg.png"
      - if current_user
        = render :partial => "shared/sidebar_share_story"