!!!
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7 ] <html class="ie6" lang="en">
/[if IE 7 ] <html class="ie7" lang="en">
/[if IE 8 ] <html class="ie8" lang="en">
/ [if (gte IE 9)|!(IE)]><!
%html{:lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    / Uncomment to make IE8 render like IE7
    / <meta http-equiv="X-UA-Compatible" content="IE=7" />
    / Set the viewport width to device width for mobile
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Home & Away"
    / Included CSS Files
    = stylesheet_link_tag    "application"
    / Included JS Files
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #fb-root
    :javascript
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=306148939490767";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    .header
      %a.logo{:href => "/"}
      %span.tagline Share with the world how a Hero came through for you with Western Union Money transfer
      %span.cta-share SHARE YOUR STORY
    .container.promo
      %div{:class => "hide-for-small login-or-register " + (!current_user.nil? ? "hidden" : "") }
        .row
          .twelve.columns
            .three.columns
              .share-your-story
                = image_tag "/assets/share-story.png"
                %p You must sign up to vote or share your story
            .four.columns.offset-by-one
              .sign-in-with-facebook
                %p.login Login with Facebook
                = link_to "", "/auth/facebook", class: "sign-in"
                %p.recommended (Recommended)
            .three.columns
              .old-fashioned
                %p of if you are old fashioned...
                %form#registration-form.register{:enctype => 'multipart/form-data', :action => "/users", :method => "post"}
                  %input#email.required.email{:type => "email", :placeholder=> "Email", :name => "user[email]"}
                  %input#name{:type => "text", :placeholder=> "Your Name", :name => "user[name]"}
                  %input#city{:type => "text", :placeholder=> "City", :name => "city"}
                  %input#country{:type => "text", :placeholder=> "Country", :name=> "country"}
                  %input#password{:type => "password", :placeholder=> "Password", :name => "user[password]"}
                  %input#password-confirm{:type => "password", :placeholder=> "Confirm Password", :name => "user[password_confirmation]"}
                  %input#location{:type => "hidden", :name => "user[location]"}
                  %input#profile-picture.upload-picture{:type => "file", :name=> "user[avatar]"}
            .one.columns
              .spin-holder#spinner
              %a.next
              %p.progress.hidden Saving...
      %div{:class => "hide-for-small nominate-your-hero " + (current_user.nil? ? "hidden" : "") }
        %form#add-story-form.add-story{:enctype => "multipart/form-data",
          :action=> "/users/#{ current_user.nil? ? 0 : current_user.id }/stories", :method => "post"}
          .row
            .twelve.columns
              .three.columns
                .nominate-your-hero-image
                  = image_tag "/assets/nominate-your-hero.png"
              .four.columns.offset-by-one
                .add-your-story
                  %p Add your Story
                  %input#story-title{:type => "text", :placeholder => "Give your story a title", :name => "story[title]" }
                  %textarea#story-body{:placeholder => "Add your story here...", :rows => "5", :name => "story[body]"}
                  %input.upload-picture{:type => "file", :name => "story[picture]"}
              .three.columns
                .nominate
                  %p Nominate your Hero
                  %input#nominee{:type => "text", :placeholder => "Your Nominee's name", :name => "nominee[full_name]"}
                  %input#mtcn{:type => "text", :placeholder => "Money transfer control number", :name=> "nominee[mtcn]"}
                  %a.finish{:href => "#"}
              .one.columns
                %a{:href => "/log_out"} Logout
      .icon-holder
        %a{:href => "#", :class => current_user.nil? ? "icon-drop-down" : "icon-drop-down-nominate" }
      -##slider
        .timeline.A
          .tagline
            %h3 Slide A
          .device
        .timeline.B
          .tagline
            %h3 Slide B
          .device
        .timeline.C
          .tagline
            %h3 Slide C
          .device
    = yield
    .row.main.spacer
    .row.main
      .two.columns.offset-by-ten
        = image_tag "/assets/western-union-logo.jpg"